@media (min-width: 0px) {
    .main {
        background-color: #FFFFFF;
        padding: 10px 0px;
    }
    .vs {
        font-size: 14px;
        font-weight: 800;
        color: black;
    }
    .info {
        display: none;
    }
    .time {
        display: none;
    }
    .row_container {
        flex-wrap: wrap;
    }
    .game_display {
        padding-right: 30px;
        padding-left: 0px;
    }
    .ou_prediction{
        margin-bottom: 24px;
    }
    .prediction_type {
        font-size: 12px;
    }
    .prediction_value{
        font-size: 14px
    }
    .prediction_conf{
        font-size: 13px
    }
    .prediction{
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
    }
    .button_container {
        padding-top: 20px;
        justify-content: space-between;
        width: 100%;
        padding-right: 20px;
    }
    .odds {
        font-size: 10px;
    }
    .team {
        display: none;
    }
    .team_status{
        margin-left:30px;
        width: 20%;
    }
    .prediction_type_ou{
        font-size: 12px;
        margin-bottom: 7px;
    }
}


@media (min-width: 768px) {
    .main {
        background-color: #FFFFFF;
        padding: 20px 0px;
    }
    .vs {
        font-size: 14px;
        font-weight: 800;
        color: black;
    }
    .prediction{
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 40px;
    }
    .odds{
        font-size: 16px;
    }
    .team_status{
        margin-left:20px;
    }
    .info {
        display: inline;
    }
    .time {
        display: inline;
    }
    .row_container {
        flex-wrap: wrap;
    }
    .game_display {
        padding-right: 30px;
    }
    .prediction_type {
        font-size: 13px;
    }
    .prediction_type_ou{
        font-size: 13px;
        margin-bottom: 7px;
    }
    .prediction_value{
        font-size: 16px
    }
    .prediction_conf{
        font-size: 15px
    }
    .prediction_ou{
        margin-top: 20px;
    }
    .button_container {
        justify-content: end;
        width: 100%;
        padding-right: 40px;
    }
    .team {
        display: inline;
    }
    .team_status {
        width: 26%;
    }
}

@media (min-width: 1298px) {
    .main {
        background-color: #FFFFFF;
        padding: 10px 0px;
    }
    .vs {
        font-size: 20px;
        font-weight: 800;
        color: black;
    }
    .info {
        display: inline;
    }
    .team_status{
        margin-left:0px;
    }
    .time {
        display: inline;
    }
    .prediction{
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 40px;
    }
    .prediction_type {
        font-size: 15px;
    }
    .prediction_type_ou{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .prediction_value{
        font-size: 20px
    }
    .prediction_conf{
        font-size: 14px
    }
    .row_container {
        flex-wrap: nowrap;
    }
    .game_display {
        padding-right: 50px;
        padding-top: 10px;
    }
    .button_container {
        width: 40%;
        justify-content: end;
        padding-right: 50px;
    }
    .ou_prediction{
        margin-bottom: 0px;
    }
    .team {
        display: inline;
    }
    .team_status {
        width: 26%;
    }
}
