@media (min-width: 0px) {
    .header_container {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header {
        font-weight: 700; 
        font-size: 30px; 
    }
    .description {
        font-weight: 500; 
        font-size:15px; 
        width: 70%; 
        text-align: center;
        display: none;
    }
    .game_display {
        margin-top: 0px;
        width: 100%;
        min-height: 30vw;
        background-color: #EEEEEE; 
        color: #aaa;
        text-transform: none;
        overflow: auto;
        border-radius: 10px;
    }
}


@media (min-width: 768px) {
    .header_container {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .header {
        font-weight: 700; 
        font-size: 60px; 
    }
    .description {
        font-weight: 500; 
        font-size: 15px; 
        width: 40vw; 
        text-align: center;
        display: inline;
    }
    .game_display {
        margin-top: 0px;
        width: 90%;
        min-height: 30vw;
        background-color: #EEEEEE; 
        color: #aaa;
        text-transform: none;
        overflow: auto;
        border-radius: 10px;
    }
}

@media (max-height: 767px) and (orientation: landscape) {
    .header_container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header {
        font-weight: 700; 
        font-size: 30px; 
    }
    .description {
        font-weight: 500; 
        font-size: 15px; 
        width: 40vw; 
        text-align: center;
        display: none;
    }
    .game_display {
        margin-top: 0px;
        width: 90%;
        min-height: 30vw;
        background-color: #EEEEEE; 
        color: #aaa;
        text-transform: none;
        overflow: auto;
        border-radius: 10px;
    }
}

@media (min-width: 1298px) {
    .header_container {
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .header {
        font-weight: 700; 
        font-size: 80px; 
    }
    .description {
        font-weight: 500; 
        font-size: 20px; 
        width: 30vw; 
        text-align: center;
        display: inline;
    }
    .game_display {
        margin-top: 0px;
        width: 80%;
        min-height: 30vw;
        background-color: #EEEEEE; 
        color: #aaa;
        text-transform: none;
        overflow: auto;
        border-radius: 10px;
    }
}
